@media only screen and (min-width: 767px) and (max-width: 1500px) {
  .arrow-sign {
    left: 48%;
    &.arrow-sign-white {
      left: 90%;
    }
  }
  .container.container-footer .hyperlinks {
    display: flex;
    padding: 0%;
    & .links {
      a {
        padding: 0px 50px 0px 0px;
      }
    }
  }
  .btn--center--whitebg {
    // display: inline-block;
    margin-top: -62px;
    margin-left: 75%;
    margin-bottom: 30px;
  }
  .contact {
    position: relative;
    // flex-direction: column;
  }
  .socialmedia {
    position: absolute;
    top: 0;
    left: 70%;
  }
  .contact .details :nth-child(1) {
    flex-basis: 15%;
  }
  // .container .container--creators--images {
  //   text-align: center;
  // }
  // .main_container {
  //   max-width: 950px;
  // }
}

@media only screen and (min-width: 1300px) {
  // body {
  //   max-width: 1500px;
  // }
  .hidden {
    display: block;
  }
  #logo {
    padding-left: 92px;
  }
  header {
    margin-bottom: 29px;
  }
  #navbar {
    display: none;
  }

  .mobile-menu {
    top: 65px;
    left: 30%;
    position: absolute;
  }
  .mobile-menu--options {
    display: block;
    a {
      padding: 0px 50px 0px 0px;
      &:nth-child(4) {
        padding: 0px;
        margin-right: 4vmin;
      }
    }
  }
  .main_container {
    position: relative;
    max-width: 1500px;
    padding: 0px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    margin: 0px 36px;
    // padding: 0px 12%;
    // text-align: center;

    // display: flex;
    // flex-direction: column;
    // align-self: center;
    // margin: 0px auto;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
  }

  .container.container--green-main {
    background-image: linear-gradient(
        to right,
        #c7fb7b 40%,
        rgba(4, 255, 0, 0.1),
        rgba(253, 249, 249, 0.1) 80%
      ),
      url(../assets/group-people-working-out-business-plan-office\ 1.png);
    background-repeat: no-repeat;
    background-position: right;
    .text_box {
      width: 50%;
    }
    margin-bottom: 200px;
    // background: linear-gradient(to bottom right, orange, red);
  }

  .arrow-sign {
    width: 100px;
    height: 100px;
    bottom: -65px;
    left: 46%;
  }

  .container .text_box h1,
  .container .text_box h2,
  .container .text_box h3 {
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 42px;
  }
  .container.container--white .text_box {
    display: flex;
    align-items: center;
    gap: 10px;
    h2 {
      line-height: 76px;
    }

    p {
      flex-basis: 95%;
      align-self: baseline;
      margin: auto 0;
    }
  }
  .services-m {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 10px;
  }
  .container--services.container--services--white {
    grid-column: 2/3;
    margin-top: 180px;
  }
  .container--services.container--services--black {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .container--services.container--services--green {
    margin-top: 100px;
  }
  .container .container--services {
    width: 390px;
  }
  .container-prices {
    display: grid;
    // position: absolute;
    grid-template-columns: repeat(1, 400px);
    border: none;
    // grid-template-rows: ;
  }

  .container-prices.container-prices--webdevelopment {
    margin-top: -35rem;
    margin-left: 28rem;
  }
  .container-prices.container-prices--blockchaindeveloment {
    margin-top: -35rem;
    margin-left: 57rem;
  }
  // .container.container--creators {
  //   display: flex;
  // }
  // .container-prices.container-prices--webdesign {
  //   width: 400px;
  // }
}
